<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI_kWpnlBNrbHlgd65QT1IgYVmRhdOvLM</string>
	<key>GCM_SENDER_ID</key>
	<string>488696019825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Grades.swiftpm</string>
	<key>PROJECT_ID</key>
	<string>school-schedule-b5181</string>
	<key>STORAGE_BUCKET</key>
	<string>school-schedule-b5181.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488696019825:ios:f76cdd3bc4005a813214d0</string>
</dict>
</plist>